:root {
    --primary-text-color: #212121;
    --secondary-text-color: #757575;
    --accent-color: #2196f3;
    --light-section-bg: #f5f4fa;
    --dark-section-bg: #2f303a;
    --white-color: #ffffff;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    letter-spacing: 0.03em;
    line-height: 1.17;
    color: var(--primary-text-color);
    background-color: var(--white-color);
}
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
    color: currentColor;
}

p {
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 700;
    margin: 0;
}

img {
    display: block;
}

.container {
    margin: 0 auto;
    padding: 0 15px;
    width: 1200px;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
}

.button {
    display: inline-block;
    font-family: inherit;
    text-align: center;
    font-size: 16px;
    font-weight: 700;
    padding: 10px 32px;
    height: 50px;
    min-width: 216px;
    color: var(--white-color);
    background-color: var(--accent-color);
    border-radius: 4px;
}

/* Общие стили для секций */
.section-title {
    text-align: center;
    font-size: 36px;
}

/* Хедер и Навигация */

.header {
    display: flex;
    align-items: center;
    margin-top: 24px;
    margin-bottom: 25px;
}

.logo {
    font-family: 'Raleway', sans-serif;
    font-size: 26px;
    font-weight: 700;
    color: #000000;
}

.logo-accent {
    color: var(--accent-color);
}

.site-nav-list {
    display: flex;
    align-items: center;
    margin: 0;
}

.site-nav-list > .item:first-child {
    margin-right: 93px;
}

.site-nav-list > .item:not(:last-child) {
    margin-right: 50px;
}

.site-nav-link,
.contacts-link {
    color: currentColor;
    letter-spacing: 0.02em;
}

.site-nav-link.current {
    color: var(--accent-color);
}

.site-nav-link,
.contacts-link {
    font-weight: 500;
}

/* Контакты в шапке */
.header-contacts-list {
    display: flex;
    margin-left: auto;
}

.contacts-item:first-child {
    margin-right: 50px;
}

.contacts-link {
    color: var(--secondary-text-color);
}

.site-nav-link:hover,
.site-nav-link:focus,
.contacts-link:hover,
.contacts-link:focus {
    color: var(--accent-color);
}

/* Секция героя */
.hero {
    background-color: var(--dark-section-bg);
    height: 600px;
    text-align: center;
    margin-bottom: 94px;
    /* margin-left: -15px;
    margin-right: -15px; */
}
.hero-title {
    font-size: 44px;
    font-weight: 900;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--white-color);
    padding-top: 200px;
    margin-bottom: 30px;
}

/* Секция преимуществ  */

.advantages {
    display: flex;
    justify-content: center;
}

.advantages-list {
    display: flex;
    margin-bottom: 118px;
}

.advantages-item:not(:last-child) {
    margin-right: 30px;
}

.advantages-subtitle {
    font-size: 14px;
    margin-bottom: 10px;
}

/* Секция "Чем мы занимаемся */

.section > .services-title {
    margin-bottom: 50px;
}

.services-list {
    display: flex;
    justify-content: center;
    margin-bottom: 94px;
}

.services-list > li:not(:last-child) {
    margin-right: 30px;
}

.advantages-item > .advantages-text {
    line-height: 1.71;
    color: var(--secondary-text-color);
}

/* Секция "Наша команда */

.section.team {
    padding-top: 94px;
    padding-bottom: 94px;
}

.team {
    background-color: var(--light-section-bg);
}

.team > .section-title {
    margin-bottom: 50px;
}

.team-list {
    display: flex;
    justify-content: center;
}

.team-item {
    width: 270px;
    padding-bottom: 30px;
    background-color: var(--white-color);
}

.team-item:not(:last-child) {
    margin-right: 30px;
}

.team-photo {
    margin-bottom: 30px;
}

.team-title {
    margin-bottom: 10px;
}

.team-title,
.team-descroption {
    font-size: 16px;
    text-align: center;
}

.team-descroption {
    color: var(--secondary-text-color);
}

/* Секция футера */
/* !Цвет контактов в футере (с альфа-каналом) */
/* .contacts_color {
    color: rgba(255, 255, 255, 0.6);
} */
.footer {
    background-color: var(--dark-section-bg);
    padding: 60px 0 60px 15px;
}

.footer > .logo {
    display: inline-block;
    color: var(--white-color);
    margin-bottom: 20px;
}

.address {
    line-height: 1.71;
}

.address > .address-text {
    color: var(--white-color);
    font-style: normal;
    font-size: 14px;
    margin-bottom: 9px;
}

.footer-contacts-item:not(:last-child) {
    margin-bottom: 9px;
}

.address.contact {
    color: rgba(255, 255, 255, 0.6);
}

/* !PORTFOLIO */
/* Фильтр со списком работ */
.portfolio-button {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.62;
    color: #212121;
    background-color: #f5f4fa;
    border: none;
}

.portfolio-button:hover,
.portfolio-button:focus {
    color: var(--white-color);
    background-color: #2196f3;
}

/* Примеры работ */

.examples-subtitle {
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}

.examples-description {
    display: none;
    font-size: 18px;
    line-height: 1.55;
}

.examples-category {
    font-size: 16px;
    line-height: 1.87;
    color: var(--secondary-text-color);
}
